@model MVCTutorial.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h2>Employee Details</h2>

<div class="futuristic-card">
    <img src="@Model.PhotoPath" alt="Profile Picture" class="profile-img-futuristic" />
    <div class="profile-info-futuristic">
        <h2>@($"{Model.FirstName} {Model.LastName}")</h2>
        <p><strong>Salary:</strong> @Model.Salary</p>
       
        <p><strong>Age:</strong> 36</p>
        <p><strong>Role:</strong> @Model.Role?.Name</p>
        <p><strong>Department:</strong> @Model.Role?.Department?.Name</p>
    </div>
</div>


<br />

<a asp-action="NeonIndex" class="btn neon-btn">Back to List</a>
